button, input, label, textarea {
  display: block;
  outline: none;
  width: 300px;
  padding: 0.5rem;
}

button {
  width: inherit;
  margin-top: 2rem;
  cursor: pointer;
}

button:focus {
  border-radius: 2px    ;
  outline: 1px solid blue;
}

label {
  margin-top: 1rem;
  padding-left: 0;
  padding-bottom: 0.25rem;
}

.error {
  color: red;
}

input.error, textarea.error {
  border: 1px solid red;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  font-size: 1.2rem;
  display: inline;
  padding-right: 2rem;
}
